* {
    margin: 0;
    padding: 0;
}

td {
    border: 1px solid black;
    height: 20px;
    width: 20px;
}

.board {
    display: inline
}

#boardsContainer {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}